<a href="https://colab.research.google.com/github/aminrimdans/DS601_Fall21/blob/main/Rimdans_Amin_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 2 (60 points - Due on Monday September 27th by 7:00 pm ET)

**You are free to use any IDE you like.**
The output of this assignment for submission should be in PDF format **AND** .py or .ipynb. The name of the file should be as follows: Lastname_Firstname_Assignment2.pdf (example: Thomas_Sunela_Assignment2.pdf) ****AND**** Lastname_Firstname_Assignment2.ipynb (example: Thomas_Sunela_Assignment2.ipynb. In short, you are submitting the python notebook as well as the pdf of that notebook.

Incorrect file name will cost you points! Do NOT submit HTML code file.
Instructions for converting a Jupyter Python notebook to PDF: Go to the menu and choose, File --> Download As --> html

Open that html file and print it to PDF.

**Things to note:**
* Output of your function should be displayed.

### Problem 1 (5 points)
<span  style="color:purple; font-size:16px">LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both the numbers are even, but returns the greater if one or both the numbers are odd.</span>
* lesser_of_two_evens(2,4) --> 2
* lesser_of_two_evens(2,5) --> 5

In [1]:
# Answer

def lesser_of_two_evens(x,y):
  if x%2==0 and y%2==0:
    if x < y:
      print(x)
    else:
      print(y)
  else:
    if x%2 != 0 or y%2 != 0:
      if x > y:
        print(x)
      else:
        print(y)

lesser_of_two_evens(2,4)

2

In [2]:
lesser_of_two_evens(2,5)

5

### Problem 2 (5 points)
<span  style="color:purple; font-size:16px">MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False</span>
* makes_twenty(20,10) --> True
* makes_twenty(12,8) --> True
* makes_twenty(2,3) --> False

In [3]:
# Answer
def makes_twenty(x,y):
  if (x+y)==20 or x==20:
    return True
  else:
    return False

makes_twenty(20,10)

True

In [4]:
makes_twenty(12,8)

True

In [5]:
makes_twenty(2,3)

False

### Problem 3 (5 points)
<span  style="color:purple; font-size:16px">ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200</span>
* almost_there(90) --> True
* almost_there(104) --> True
* almost_there(150) --> False
* almost_there(209) --> True

* NOTE: abs(num) return the absolute value of a number

In [6]:
# Answer
def almost_there(x):
  if x in range(90,111):
    return True
  elif x in range(190,211):
    return True
  else:
    return False

almost_there(90)

True

In [7]:
almost_there(104)

True

In [8]:
almost_there(150)

False

In [9]:
almost_there(209)

True

### Problem 4 (15 points)
<span  style="color:purple; font-size:16px">BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an 11, reduce the total sum by 10. Finally, if the sum(even after adjustment) exceeds 21, return 'BUST'</span>

* blackjack(5,6,7) --> 18
* blackjack(9,9,9) --> 'BUST'
* blackjack(9,9,11) --> 19

In [10]:
# Answer

def blackjack(x,y,z):
  sum=(x+y+z)
  if sum <= 21:
    return sum
  elif sum > 21 and (x==11 or y==11 or z==11):
    return sum-10
  else:
    return 'BUST'
    
blackjack(5,6,7)

18

In [11]:
blackjack(9,9,9)

'BUST'

In [12]:
blackjack(9,9,11)

19

### Problem 5 (15 points)
<span  style="color:purple; font-size:16px">SPY_GAME: Write a function that takes in a list of integers and return True if it contains 007 in order</span>

* spy_game([1,2,4,0,0,7,5]) --> True
* spy_game([1,0,2,4,0,5,7]) --> True
* spy_game([1,7,2,0,4,5,0]) --> False

In [13]:
# Answer
def spy_game(a):
  my_list=[]
  for i in a:
    if i in (0,7):
      my_list.append(str(i))
  if '007' in ''.join(my_list):
    return True
  else:
    return False

spy_game([1,2,4,0,0,7,5])

True

In [14]:
spy_game([1,0,2,4,0,5,7])

True

In [15]:
spy_game([1,7,2,0,4,5,0])

False

### Problem 6 (15 points)
<span  style="color:purple; font-size:16px">COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number</span>

* count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [16]:
n = int(input("Please enter the start number: "))
m = int(input("Please enter the end number: "))
count = 0
for i in range(n,m):
    if i > 1:
        for j in range(2,i):
            if(i % j == 0):
                break
        else:
# Display prime number
            #print(i)
            count = count + 1
print(count)

Please enter the start number: 2
Please enter the end number: 100
25